.intestazione {
    position: relative;
    height: 150px;
    background-color: #4EA0FF;
    background-image:url('../img/pattern.png');
}

.logo {
    width: 200px;
    position: absolute;
    bottom: 0px;
}

.tabella_intestazione {
    background-color: #1FA9E5;
    color: white;
}

.dati_tabella {
    background-color: #B1E4F2;
    color: black;
    padding: 25px;
}

h3 {
    color: gray;
}

.test {
    position: relative;
}

.testo {
    position: absolute;
    color: white;
    font-weight: 700;
    left: 15px;
}

.contatto {
    color: #1FA9E5;
    text-decoration: none;
    font-weight: 700;
}